name: python-ci

on:
  push:
    branches:
      - master
    paths:
      - "lab_solutions/lab1/app_python/**"
      - ".github/workflows/python-ci.yml"
  pull_request:
    paths:
      - "lab_solutions/lab1/app_python/**"
      - ".github/workflows/python-ci.yml"

concurrency:
  group: python-ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  APP_DIR: lab_solutions/lab1/app_python
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/devops-info-service

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"
          cache-dependency-path: |
            lab_solutions/lab1/app_python/requirements.txt
            lab_solutions/lab1/app_python/requirements-dev.txt

      - name: Install dependencies
        working-directory: ${{ env.APP_DIR }}
        run: pip install -r requirements.txt -r requirements-dev.txt

      - name: Lint
        working-directory: ${{ env.APP_DIR }}
        run: ruff check .

      - name: Run tests with coverage
        working-directory: ${{ env.APP_DIR }}
        run: pytest --cov=app --cov-report=term --cov-report=xml

      - name: Snyk scan
        uses: snyk/actions/python@0.4.0
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --file=lab_solutions/lab1/app_python/requirements.txt --severity-threshold=high --skip-unresolved

  docker:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set version (CalVer)
        run: echo "VERSION=$(date +%Y.%m.%d)" >> $GITHUB_ENV

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.APP_DIR }}
          file: ${{ env.APP_DIR }}/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.VERSION }}
            ${{ env.IMAGE_NAME }}:latest
